<app-filter>
  <div class="app-nav">
    <div class="row">
      <!-- <div class="col-xs-2 col-md-2 title">
        <label>Add Ingredient</label>
      </div> -->
      <div class="col-xs-5 col-md-5">
        <label class="sr-only" for="inlineFormInputGroup">Ingredient Name</label>
        <input type="text" name="ingCategory" class="form-control" id="inlineFormInputGroup" placeholder="Ingredient Name" [value]="ingredient.name"
          (input)="ingredient.name = $event.target.value">
      </div>
      <div class="col-xs-3 col-md-3">
        <label class="sr-only" for="inlineFormInputGroup">Major Category</label>
        <tree-select name="category" id="category"  [items]="ingCategories" 
                                  [(ngModel)]="ingredient.category" required=true #simpleSelect="ngModel"
                                  [filterPlaceholder]="FilterPlaceholder" [allowFilter]=false [disabled]=false>
                                </tree-select>
      </div>
      <div class="col-xs-3 col-md-2">
        <label>Is Active</label>
      </div>
      <div class="col-xs-1 col-md-1">
        <app-toggler
            key="isActive" class="form-check-input" default="ingredient.isActive" (onSelection) = "getValue($event)" ></app-toggler>
      </div>
      <div class="col-xs-1 col-md-1">
        <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info navbar-btn"
          (click)="addIngredient()">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add</span>
        </button>
      </div>
    </div>
  </div>
</app-filter>

<app-grid [header]='columnDefs'>
  <tbody class="app-grid-col">
    <tr *ngFor='let row of rowData' class="grid-row">
      <td scope="row" width="40%" style="vertical-align:middle;text-align: center;">
        {{row.name}}
      </td>
      <td scope="row" width="10%" style="vertical-align:middle;text-align: center;">
        {{row.category}}
      </td>
      <td scope="row" width="40%" style="vertical-align:middle;text-align: center;">
        {{row.unit}}
      </td>
      <td scope="row" width="40%" style="vertical-align:middle;text-align: center;">
        {{row.active}}
      </td>
      <td scope="row" width="10%" style="vertical-align:middle;text-align: center;">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <a href="#">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>

          </div>
          <div class="col-xs-6 col-md-6">
            <a href="#">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</app-grid>