.profile-info{
    width:100%;
    padding: 5px 5px 5px 15px;
}
.action-item{
    top: 3vh;
}
.info{
    font-family: italic!important;
    color: #9e9e9e;
    font-size: 12px;
}
div label h5 {
    margin-bottom: 0;
}