
a {
    transition: .25s all;
    text-decoration: none;
}
.text-style{
    text-align: center;
    color: #777;
}
.card{
    float: left;
    width: 200px;
    border-radius: 15px;
    margin: 25px 30px;
    padding: 30px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgba(255, 255, 255, 0.30);
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position:relative;
    z-index: 3;
}

.card-inverse .card-img-overlay {
  background-color: rgba(#333,.85);
  border-color: rgba(#333,.85);
  
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    height: 100%; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}



  
